.job-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.company-logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.job-details {
  flex: 1;
}

.job-details h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.job-details p {
  margin-bottom: 5px;
}

.job-details h2 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}
